<div ng-controller="EditAdController" class="boxDefault boxBorderRadius">
    <span class="boxTitle">Edit Ad</span>
    <table>
        <tr>
            <td class="paramTitle">Title:</td>
            <td colspan="2">
                <input type="text" name="adTitle" value="{{ad.title}}" ng-model="ad.title">
            </td>
            <td rowspan="2" class="editImgHolder">
                <img ng-if="!ad.imageDataUrl" ng-src="img/no-image.png"/>
            </td>
        </tr>
        <tr>
            <td class="paramTitle">Text:</td>
            <td colspan="2">
                <textarea rows="2" cols="20" ng-model="ad.text">
                                    {{ad.text}}
                </textarea>
            </td>
        </tr>
        <tr>
            <td class="paramTitle">Image:</td>
            <td ng-model="ad.imageDataUrl"></td>
            <td style="width: 15%"><a href="" class="button">Browse</a></td>
            <td><a href="" class="button">Change Image</a></td>
        </tr>
        <tr>
            <td class="paramTitle">Category:</td>
            <td>select</td>
            <td></td>
            <td><a href="" class="button">Delete Image</a></td>
        </tr>
        <tr>
            <td class="paramTitle">Town:</td>
            <td>select</td>
            <td colspan="2"></td>
        </tr>
    </table>
</div>