<div id="regitsterFormHolder" class="boxDefault boxBorderRadius">
    <span class="boxTitle">User Registration</span>
    <form class="clearfix">
        <div class="inputHolder">
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="user.title">
        </div>
        <div class="inputHolder" style="height:13%"></div>
        <div class="inputHolder">
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="user.password"  required=""/>
        </div>
        <div class="inputHolder">
            <label for="confirmPassword">Confirm password:</label>
            <input type="password" id="confirmPassword" ng-model="user.confirmPassword" required=""/>
        </div>
        <div class="inputHolder">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="user.name"  required=""/>
        </div>
        <div class="inputHolder">
            <label for="email">Email:</label>
            <input type="email" id="email" ng-model="user.email" required=""/>
        </div>
        <div class="inputHolder">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" ng-model="user.phone" required=""/>
        </div>
        <div class="inputHolder">
            <label for="town">Town:</label>
            <select ng-model="user.townId" id="town">
                <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
            </select>
        </div>
        <div class="formControls">
            <button ng-click="register(user)">Register</button>
            <a ng-href="#/login" class="link">login here</a>
        </div>
    </form>
</div>